# Practical_1: Variables and Assignments

## Exercise 1:
Declare a variable `x` and assign it the value `10`.

In [1]:
# Exercise 1
x = 10

## Exercise 2:
Assign the value `True` to a variable called `is_valid`.

In [2]:
# Exercise 2
is_valid = True

## Exercise 3:
Create a string variable `name` with the value "Python Programming".

In [3]:
# Exercise 3
name = "Python Programming"

## Exercise 4:
Assign the result of `5 + 3` to a variable `sum_result`.

In [4]:
# Exercise 4
sum_result = 5 + 3

## Exercise 5:
Assign multiple variables in one line: `a = 5`, `b = 10`, `c = 15`.

In [5]:
# Exercise 5
a, b, c = 5, 10, 15

## Exercise 6:
Assign the value of one variable `x` to another variable `y`.

In [6]:
# Exercise 6
y = x

## Exercise 7:
Assign a floating-point number `9.8` to a variable `gravity`.

In [7]:
# Exercise 7
gravity = 9.8

## Exercise 8:
Create a variable `country` and assign it the string value of your favorite country.

In [8]:
# Exercise 8
country = "Senegal"

## Exercise 9:
Change the value of variable `age` from `25` to `26` in two separate steps.

In [9]:
# Exercise 9
age = 25
age = 26

## Exercise 10:
Use one variable to store the result of subtracting two numbers `20 - 7`.

In [10]:
# Exercise 10
subtraction_result = 20 - 7

## Exercise 11:
Assign an integer value and a floating-point value to two different variables.

In [11]:
# Exercise 11
int_value = 42
float_value = 3.14987

## Exercise 12:
Assign a boolean value `False` to a variable `is_completed`.

In [12]:
# Exercise 12
is_completed = False

## Exercise 13:
Swap the values of two variables `x` and `y`.

In [13]:
# Exercise 13
x, y = y, x

## Exercise 14:
Assign a complex number `3 + 4j` to a variable `complex_num`.

In [14]:
# Exercise 14
complex_num = 3 + 4j

## Exercise 15:
Reassign a variable from an integer to a string.

In [15]:
# Exercise 15
variable = 43
variable = "Aims"

## Exercise 16:
Create two variables `first_name` and `last_name`, and assign them your first and last names.

In [16]:
# Exercise 16
first_name = "Mohamed"
last_name = "Faye"

## Exercise 17:
Create a variable `temperature` and assign it the value of `35.5`.

In [17]:
# Exercise 17
temperature = 35.5

## Exercise 18:
Assign the result of the multiplication of two numbers `8 * 6` to a variable `product`.

In [18]:
# Exercise 18
product = 8 * 6

## Exercise 19:
Assign a sentence of your choice to a variable `sentence`.

In [19]:
# Exercise 19
sentence = "Aims is the best school in Africa"

## Exercise 20:
Use an assignment to convert a string `'50'` into an integer variable `int_value`.

In [20]:
# Exercise 20
int_value = int('50')

## Exercise 21:
Assign the result of dividing `144` by `12` to a variable `quotient`.

In [21]:
# Exercise 21
quotient = 144 / 12

## Exercise 22:
Assign the remainder of `47 divided by 5` to a variable `remainder`.

In [22]:
# Exercise 22
remainder = 47 % 5

## Exercise 23:
Create a variable `is_student` and assign it the value `True`.

In [23]:
# Exercise 23
is_student = True

## Exercise 24:
Use a variable to store the result of a modulo operation: `45 % 4`.

In [24]:
# Exercise 24
mod_variable = 45 % 4

## Exercise 25:
Create a variable `pi` and assign it the value `3.14159`.

In [25]:
# Exercise 25
pi = 3.14159

## Exercise 26:
Create two variables `length` and `width`, assign them values, and calculate the area of a rectangle.

In [26]:
# Exercise 26
length = 65
width = 24
area = length * width

## Exercise 27:
Assign a negative number to a variable `negative_value`.

In [27]:
# Exercise 27
negative_value = -54

## Exercise 28:
Assign a string containing a special character (e.g., "Hello, World!") to a variable `greeting`.

In [28]:
# Exercise 28
greeting = "Hello, World!"

## Exercise 29:
Create a variable `population` and assign it a large integer value (in billions).

In [29]:
# Exercise 29
population = 7_000_000_000  # 8 milliards

## Exercise 30:
Use a variable to store the result of raising `2` to the power of `8`.

In [30]:
# Exercise 30
power_result = 2 ** 8

## Exercise 31:
Assign a list of your favorite fruits to a variable `fruits`.

In [31]:
# Exercise 31
fruits = ["ananas", "orange", "papaye", "banane", "pomme"]

## Exercise 32:
Assign a tuple of three numbers to a variable `coordinates`.

In [32]:
# Exercise 32
coordinates = (10, 20, 30)

## Exercise 33:
Assign a dictionary with keys `name` and `age` to a variable `person`.

In [33]:
# Exercise 33
person = {"name": "Faye Mohamed", "age": 26}

## Exercise 34:
Use variables to store the sum of two floating-point numbers.

In [34]:
# Exercise 34
sum_float = 8.7 + 4.23

## Exercise 35:
Create a variable `is_sunny` and assign it the result of a comparison `10 > 5`.

In [35]:
# Exercise 35
is_sunny = 10 > 5

## Exercise 36:
Assign a string and an integer to two different variables, then print both on one line.

In [36]:
# Exercise 36
name_str = "Amirou"
age_int = 87
print(name_str, age_int)

Amirou 87

## Exercise 37:
Reassign a variable that originally held a number to a boolean value.

In [37]:
# Exercise 37
variable = 100
variable = False

## Exercise 38:
Create a variable `is_weekend` and assign it the result of `False`.

In [38]:
# Exercise 38
is_weekend = False

## Exercise 39:
Assign a multi-line string to a variable `description`.

In [39]:
# Exercise 39
description = """je suis etudiant
a Aims Senegal"""

## Exercise 40:
Use variables to store the result of the absolute value of `-25`.

In [40]:
# Exercise 40
absolute_value = abs(-25)

## Exercise 41:
Assign the result of a floor division `100 // 6` to a variable `floor_div_result`.

In [41]:
# Exercise 41
floor_div_result = 100 // 6

## Exercise 42:
Assign the result of adding a floating-point number to an integer to a variable `mixed_sum`.

In [42]:
# Exercise 42
float_num = 87.98
int_num = 54
mixed_sum = float_num + int_num

## Exercise 43:
Assign a boolean value based on the comparison of two variables `a = 10` and `b = 15`.

In [43]:
# Exercise 43
a = 10
b = 15
compare_value = a < b

## Exercise 44:
Assign a long sentence to a variable and count its characters using `len()`.

In [44]:
# Exercise 44
long_sentence = "Cette phrase contient un certain nombre de caractÃ¨res"
char_count = len(long_sentence)

## Exercise 45:
Assign a fractional result `7 / 3` to a variable `division_result`.

In [45]:
# Exercise 45
division_result = 7 / 3

## Exercise 46:
Create a variable `speed` and assign it the value of 100 kilometers per hour.

In [46]:
# Exercise 46
speed = 100  # kilometers per hour

## Exercise 47:
Assign a multi-variable equation like `y = 3x + 5` where `x = 4` to a variable `y`.

In [47]:
# Exercise 47
x = 4
y = 3 * x + 5

## Exercise 48:
Use variables to calculate and store the average of three numbers.

In [48]:
# Exercise 48
num_1, num_2, num_3 = 43, 54, 60
average = (num_1 + num_2 + num_3) / 3